# Ignore everything in the root
/*

# Except the following directories and files
!/backend/
!/frontend/
!/docker-compose.yml
!/README.md
!/.gitignore
!/.pr_agent.toml
!/.github/

# Environment files
.env
.env.*
!.env.example