includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - bootstrap/
        - routes/

    # Level 9 is the highest level
    level: 6

    treatPhpDocTypesAsCertain: false
