includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    paths:
        - app/
        - bootstrap/
        - routes/

    # Level 9 is the highest level
    level: 6

    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        - '#uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types#'
        - '#Cannot access property \$value on string\.#'
        - '#return type has no value type specified in iterable type array\.#'
